[Desktop Entry]
Version=1.0
Type=Application
Name=QPhoenix
Comment=Powerful translation program
TryExec=qphoenix
Exec=qphoenix
Icon=qphoenix
Categories=Office;
